---
Checks:            '-*,modernize-use-override,readability-simplify-boolean-expr'
WarningsAsErrors:  ''
HeaderFilterRegex: '.*'
FormatStyle:       'file'
CheckOptions:
    - key: modernize-use-override.IgnoreDestructors
      value: '0'
