---
Checks:            '-*,modernize-use-override,readability-simplify-boolean-expr,misc-unused-parameters,readability-redundant-smartptr-get,readability-redundant-string-init'
WarningsAsErrors:  ''
HeaderFilterRegex: '.*'
FormatStyle:       'file'
CheckOptions:
    - key: modernize-use-override.IgnoreDestructors
      value: '0'

    - key: misc-unused-parameters.StrictMode
      value: '1'

    - key: readability-redundant-string-init.StringNames
      value: ' ::std::basic_string;::std::basic_string_view;QString'

