# Note: tabs are not allowed!

---
Checks: >
    -*,
    bugprone-copy-constructor-init,
    # bugprone-parent-virtual-call, # It is not clear whether the detected cases are intentional,
    bugprone-shared-ptr-array-mismatch,
    bugprone-standalone-empty,
    bugprone-string-constructor,
    bugprone-unique-ptr-array-mismatch,
    # cppcoreguidelines-pro-type-member-init,
    llvm-include-order,
    # misc-include-cleaner, # Breaks to many files and replaces the Qt header with lower level ones,
    misc-unused-parameters,
    modernize-use-bool-literals,
    modernize-use-equals-default,
    modernize-use-override,
    # modernize-use-default-member-init,
    modernize-use-nullptr,
    readability-convert-member-functions-to-static,
    readability-implicit-bool-conversion,
    # readability-make-member-function-const,
    readability-qualified-auto,
    # readability-redundant-member-init,
    readability-redundant-string-cstr,
    readability-redundant-string-init,
    readability-simplify-boolean-expr,
    # readability-static-accessed-through-instance

WarningsAsErrors:  ''
HeaderFilterRegex: '.*'
FormatStyle:       'file'
CheckOptions:
    - key: bugprone-string-constructor.StringNames
      value: '::std::basic_string;::std::basic_string_view;QString'

    - key: cppcoreguidelines-pro-type-member-init.UseAssignment
      value: '1'

    - key: misc-unused-parameters.StrictMode
      value: '1'

    - key: modernize-use-bool-literals.IgnoreMacros
      value: '0'

    - key: modernize-use-equals-default.IgnoreMacros
      value: '0'
      
    - key: modernize-use-override.IgnoreDestructors
      value: '0'

    - key: modernize-use-default-member-init.UseAssignment
      value: '1'

    - key: modernize-use-default-member-init.IgnoreMacros
      value: '0'

    - key: readability-redundant-member-init.IgnoreBaseInCopyConstructors
      value: '1'

    - key: readability-redundant-string-init.StringNames
      value: ' ::std::basic_string;::std::basic_string_view;QString'

    - key: readability-simplify-boolean-expr.SimplifyDeMorgan
      value: '0'
